.header_container {
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #363537;
  align-items: center;
}

.header_container > p {
  margin: 0px;
}

.header_button {
  border: none;
  background-color: #0fa726;
  padding: 10px;
  width: 100px;
  border-radius: 50px;
  color: white;
  font-size: 17px;
}

.profileImage {
  border-radius: 50%;
  /* background-color: rgba(63, 63, 63, 0); */
  background: linear-gradient(#23a6d5, #23d5ab);
  width: 3.5em;
  height: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  transition: 0.3s all;
  box-shadow: 0px 0px 10px -2px #23d5ab;
  position: relative;
  cursor: pointer;
}

.profileImage:hover {
  box-shadow: 0px 0px 10px 0px #23d5ab;
}

.image {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  object-fit: cover;
}

.loginButton {
  background-color: white;
  padding: 7px 15px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 5px;
  box-shadow: 0px 0px 20px -5px rgb(34, 34, 34);
  transition: 0.3s all;
}

.loginButton:hover {
  box-shadow: 0px 0px 20px -4px rgb(12, 12, 12);
}

.login {
  font-weight: 500;
  color: black;
}

.modal {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(102%);
  z-index: 2;
  box-shadow: 0px 0px 20px -5px rgb(34, 34, 34);
  background-color: rgb(58, 58, 58);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
  border-radius: 10px;
}
.modal .modalImage {
  width: 4em;
  height: 4em;
  margin: 10px 0;
  border-radius: 50%;
}

.modal .modalName {
  color: white;
  margin: 10px 10px 0px 10px;
  font-weight: 400;
  width: 85%;
  text-align: center;
}
.modal .modalEmail {
  color: white;
  margin: 0px;
  font-weight: 300;
  font-size: 1em;
  /* width: 85%; */
  text-align: center;
}

.modal .logout {
  padding: 7px 30px;
  color: white;
  border-radius: 20px;
  border: 1px solid white;
  cursor: pointer;
  margin: 20px 10px 10px 10px;
}
.modal .logout:hover {
  background-color: rgb(77, 77, 77);
}
