.container {
  display: flex;
  flex-direction: column;
  background-color: #363537;
  color: white;
  overflow: auto;
}

.minContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.left {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 60px;
  box-sizing: border-box;
}

.left > h1 {
  font-size: 100px;
  color: white;
  margin: 0px;
  padding-right: 0.5em;
}

.left > h1 > span {
  font-size: 200px;
  animation: gradient 6s ease infinite;
}

.left > div {
  padding-right: 1em;
  font-size: 20px;
}

.right {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* align-items: center; */
  /* justify-content: center; */
  box-sizing: border-box;
  padding: 60px;
  padding-left: 0;
}

.right > img {
  max-width: 500px;
  height: auto;
  box-sizing: border-box;
}

.options_tab {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  position: relative;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.options_tab_overlay {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  border-radius: inherit;
  box-sizing: border-box;
}

@keyframes gradient {
  0% {
    color: #ee7752;
  }
  25% {
    color: #e73c7e;
  }
  75% {
    color: #23a6d5;
  }
  90% {
    color: #23d5ab;
  }
  100% {
    color: #ee7752;
  }
}

@media screen and (max-width: 1170px) {
  .minContainer {
    flex-direction: column;
    /* overflow: auto; */
  }
  .right {
    width: 100%;
    padding: 60px;
    align-items: center;
  }
  /* .left {
    padding: 60px;
  } */
}

@media screen and (max-width: 546px) {
  .left > h1 {
    font-size: 60px;
  }

  .left > h1 > span {
    font-size: 100px;
  }
}
