.menu_container {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  background-color: #363537;
  height: 100%;
}

.menu_container > ul {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}

.menu_container > ul > li {
  margin: 0px;
  color: white;
  font-size: 20px;
  display: flex;
  margin-top: 20px;
  cursor: pointer;
}
