.terminal_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 80%; */
  max-width: 600px;
  /* margin-left: 10%; */
  background-color: black;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.terminal_header {
  /* width: 100%; */
  height: 25px;
  background-color: gainsboro;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  box-sizing: border-box;
}

.terminal_body {
  box-sizing: border-box;
  flex: 1;
  padding: 25px 20px 20px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.option_tabs {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  padding: 25px;
  padding-top: 0;
  box-sizing: border-box;
}

.option_tabs > .button1 {
  padding: 10px;
  margin: 10px;
  font-size: 24px;
  width: auto;
  align-self: center;
  background-color: transparent;
  border: none;
  color: gainsboro;
  position: relative;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid gainsboro;
  box-sizing: border-box;
}

.option_tabs > .button1 > span {
  position: absolute;
}

.option_tabs > .button1 > span:nth-child(1) {
  top: 0px;
  left: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, gainsboro);
}

.option_tabs > .button1:hover > span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.option_tabs > .button1 > span:nth-child(2) {
  top: -100%;
  right: 0px;
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, transparent, gainsboro);
}

.option_tabs > .button1:hover > span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.option_tabs > .button1 > span:nth-child(3) {
  bottom: 0px;
  right: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg, transparent, gainsboro);
}

.option_tabs > .button1:hover > span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.option_tabs > .button1 > span:nth-child(4) {
  bottom: -100%;
  left: 0px;
  width: 4px;
  height: 100%;
  background: linear-gradient(360deg, transparent, gainsboro);
}

.option_tabs > .button1:hover > span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

.option_tabs > .button2 {
  padding: 10px;
  margin: 10px;
  font-size: 24px;
  width: auto;
  align-self: center;
  background-color: transparent;
  border: none;
  color: gainsboro;
  position: relative;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid gainsboro;
  box-sizing: border-box;
}

.option_tabs > .button2 > span {
  position: absolute;
}

.option_tabs > .button2 > span:nth-child(1) {
  top: 0px;
  left: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, gainsboro);
}

.option_tabs > .button2:hover > span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.option_tabs > .button2 > span:nth-child(2) {
  top: -100%;
  right: 0px;
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, transparent, gainsboro);
}

.option_tabs > .button2:hover > span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.option_tabs > .button2 > span:nth-child(3) {
  bottom: 0px;
  right: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg, transparent, gainsboro);
}

.option_tabs > .button2:hover > span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.option_tabs > .button2 > span:nth-child(4) {
  bottom: -100%;
  left: 0px;
  width: 4px;
  height: 100%;
  background: linear-gradient(360deg, transparent, gainsboro);
}

.option_tabs > .button2:hover > span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

.option_tabs > .button3 {
  padding: 10px;
  margin: 10px;
  font-size: 24px;
  width: auto;
  align-self: center;
  background-color: transparent;
  border: none;
  color: gainsboro;
  position: relative;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  align-self: flex-end;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid gainsboro;
  box-sizing: border-box;
}

.option_tabs > .button3 > span {
  position: absolute;
}

.option_tabs > .button3 > span:nth-child(1) {
  top: 0px;
  left: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, gainsboro);
}

.option_tabs > .button3:hover > span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.option_tabs > .button3 > span:nth-child(2) {
  top: -100%;
  right: 0px;
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, transparent, gainsboro);
}

.option_tabs > .button3:hover > span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.option_tabs > .button3 > span:nth-child(3) {
  bottom: 0px;
  right: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg, transparent, gainsboro);
}

.option_tabs > .button3:hover > span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.option_tabs > .button3 > span:nth-child(4) {
  bottom: -100%;
  left: 0px;
  width: 4px;
  height: 100%;
  background: linear-gradient(360deg, transparent, gainsboro);
}

.option_tabs > .button3:hover > span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

/* @media screen and (max-width: 1298px) {
  .terminal_container {
    width: 80%;
    height: 600px;
  }
} */

@media screen and (max-width: 721px) {
  .terminal_container {
    width: 90%;
    height: 120%;
  }

  .option_tabs {
    justify-content: space-between;
  }

  .option_tabs > .button1 {
    font-size: 16px;
    padding: 10px;
  }
  .option_tabs > .button2 {
    font-size: 16px;
    padding: 10px;
  }
  .option_tabs > .button3 {
    font-size: 16px;
    padding: 10px;
  }
}
