@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");

.editor {
  /* flex: 1; */
  /* min-height: 80vh; */
  height: 80%;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 1;
  box-sizing: border-box;
  position: relative;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.splitHor .sel_lang > select {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  line-height: 1.3;
  padding: 10px;
  /* width: 50%; */
  box-sizing: border-box;
  margin: 0;
  outline: none;
  border: none;
  background-color: #1e1e1e;
  transition: 0.3s all;
}

.sel_lang > select > option {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: whitesmoke;
  line-height: 1.3;
  padding: 15px;
  display: block;
  opacity: 0.7;
  background-color: #313131;
}

.sel_lang > select > option {
  opacity: 1;
}
.splitHor {
  display: flex;
  width: 100%;
  height: 100%;
}
.splitVer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  /* margin-left: 10px; */
  box-sizing: border-box;
  height: 100%;
  /* background-color: white; */
}
.left {
  background-color: #1e1e1e;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  /* flex: 1; */
}
.gutter {
  background-color: red;
}
.runCode {
  display: flex;
  background-color: #1e1e1e;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #555555;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  max-height: 60px;
}

.submitButton {
  background-color: #0fa726;
  color: white;
  padding: 5px 20px;
  margin: 5px;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-weight: 500;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: 0.3s all;
}
.submitButton:hover {
  background-color: #14ce2f;
}

.output {
  width: 100%;
  /* flex: 2; */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: white;
}
.input {
  width: 100%;
  /* flex: 1; */
  box-sizing: border-box;
  /* margin-top: 10px; */
  box-sizing: border-box;
}

.outputHead {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(180deg, whitesmoke, white);
  padding: 10px;
  /* margin-bottom: 20px; */
  border-bottom: 1px solid #555555;
  /* justify-content: space-between; */
  color: #1e1e1e;
  font-size: 1.2em;
  font-weight: 700;
  align-items: center;
  border: 2px solid whitesmoke;
  /* height: 0%; */
  max-height: 3em;
}

.showVid {
  border-radius: 50%;
  padding: 6px;
  margin-right: 5px;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all;
  cursor: pointer;
}

.showVid:hover {
  background-color: #eeeeee;
}
@media screen and (min-width: 800px) {
  .right {
    height: 100% !important;
  }
  .left {
    height: 100% !important;
  }
  .splitHor {
    display: flex;
    /* flex-direction: column; */
    width: 100% !important;
    height: 100% !important;
  }
}

@media only screen and (max-width: 800px) {
  .right {
    width: 100% !important;
  }
  .left {
    width: 100% !important;
  }

  .splitHor {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    height: 100% !important;
  }
}
/* .row {
    flex-direction: column;
    overflow: auto;
  }

  .left {
    min-height: 80vh;
  }

  .right {
    margin-left: 0px;
    flex: auto;
  }

  .output {
    min-height: 300px;
  }

  .input {
    min-height: 200px;
  } */
