.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 8vh;
}

.brand {
  font-size: 1.4em;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.icon {
  margin-right: 10px;
}

.letter {
  font-size: 1.16em;
  font-weight: 700;
  animation: gradient 6s ease infinite;
}

.row {
  display: flex;
}

.share {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding: 0px 10px;
  background-color: gainsboro;
  border-radius: 10px;
  cursor: pointer;
}

.share > p {
  color: black;
  margin: 0px;
  margin-right: 10px;
  font-weight: 500;
}

.end_meet {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding: 0px 10px;
  background-color: #ba1130;
  border-radius: 10px;
  cursor: pointer;
}

.end_meet > p {
  margin: 0px;
  margin-right: 10px;
  font-weight: 500;
}

@keyframes gradient {
  0% {
    color: #ee7752;
  }
  25% {
    color: #e73c7e;
  }
  75% {
    color: #23a6d5;
  }
  90% {
    color: #23d5ab;
  }
  100% {
    color: #ee7752;
  }
}
