.gutter {
  /* background-color: #eee; */

  background-repeat: no-repeat;
  background-position: 50%;
  transition: 0.3s all;
  /* background-color: rgba(128, 128, 128, 0.664); */
}

.gutter:hover {
  background-color: rgb(41, 41, 41);
  /* cursor: col-resize; */
  opacity: 0.7;
}
.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
}

/* .gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
} */

.editor {
  /* flex: 1; */
  /* min-height: 80vh; */
  height: 80%;
}

.dragger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(0%) translateY(-50%);
}

.videogrid {
  /* width: 310px !important; */
  /* height: 355px !important; */
  /* padding: 10px; */
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgb(61, 61, 61) !important;
  z-index: 2;
  /* padding: 10px; */
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 0px 0px 8px -5px grey;
}

.dragHead {
  width: 100%;
  height: 25px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  top: 0;
  left: 0;
  border-radius: 10px 10px 0px 0px;
  background-color: rgb(22, 22, 22);
  cursor: grabbing;
}

.videoBox {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  justify-content: space-evenly;
  align-items: center;
}

video {
  width: 300px !important;
  height: 150px !important;
  /* flex-basis: 300px; */
  margin: 0px !important;
  background-color: black;
  border-radius: 10px;
  object-fit: cover;
  outline: none;
  margin: 0 10px 10px 10px !important;
}

audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {
  display: none;
}

.hide {
  visibility: hidden !important;
}

.name {
  margin: 10px;
  font-weight: 500;
}

pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

@media only screen and (max-width: 800px) {
  .gutter.gutter-horizontal {
    width: 100% !important;
  }
}
@media only screen and (min-width: 800px) {
  .gutter.gutter-horizontal {
    height: 100% !important;
  }
}
